@charset "UTF-8";

.widget-calendar .day {
    background: #f8f8f8;
}
.widget-calendar .free {background: #91CD01;}
.widget-calendar .half {background: #ffed00;}
.widget-calendar .full {background: red;}
.widget-calendar .selected {background: #FFB300;}
.widget-calendar .booked {background: #add9e6;}
.widget-calendar .urlaub {background: #791173}

.widget-calendar {
	position: relative;
	min-height: 50px;
}

.widget-calendar p
{
	margin: 0;
	padding: 0;
}

.widget-calendar #calendarWrapper
{
	position: relative;
	width: 425px;
}

.widget-calendar #calendarWrapper .head
{
	min-height: 50px;
	width: inherit;
}

.widget-calendar #calendarWrapper .head.current
{
  text-align: center;
  font-weight: bold;
}
.widget-calendar #calendarWrapper .head.prev a,
.widget-calendar #calendarWrapper .head.next a {
	cursor: pointer;
}
.widget-calendar #calendarWrapper .head.prev a:hover,
.widget-calendar #calendarWrapper .head.next a:hover {

}
.widget-calendar #calendarWrapper th
{
	text-align: center;
    vertical-align: middle;
}

.widget-calendar #calendarWrapper .head .clearall
{
	float: none;
	clear: both;
  text-align: right;
	cursor: pointer;
  font-size: 0.8em;
}

/* navigation */
.widget-calendar #calendarWrapper .head ul.navigation
{
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}
.widget-calendar #calendarWrapper .head ul.navigation li
{
	display: inline;
}

.widget-calendar #calendarWrapper tbody td
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: large;
	border: 1px solid #ddd;
	width: 14.2857%;
	padding:0;
}

.widget-calendar #calendarWrapper tbody td .inside
{
	height: 55px;
	line-height: 55px;
	padding: 0 !important;
}

.widget-calendar #calendarWrapper tbody td .header
{
	padding: 5px;
	text-align: right;
}

/* day */
.widget-calendar #calendarWrapper tbody td .header .text
{
	margin-right: 2px;
}

.widget-calendar #calendarWrapper .bookable,
.widget-calendar #calendarWrapper .selected
{
	cursor: pointer;
	
	opacity: .8;
	/*Transition*/
	-webkit-transition: All 0.2s ease;-moz-transition: All 0.2s ease;-o-transition: All 0.2s ease;-ms-transition: All 0.2s ease;
	transition: All 0.2s ease;

}
.widget-calendar #calendarWrapper .free:hover,
.widget-calendar #calendarWrapper .member_allowed:hover
{
	opacity: 1;
	-webkit-transition: All 0.2s ease;-moz-transition: All 0.2s ease;-o-transition: All 0.2s ease;-ms-transition: All 0.2s ease;
	transition: All 0.2s ease;
}

.widget-calendar #calendarWrapper .selected
{
	opacity: 1;
}

.widget-calendar #calendarWrapper .booked
{
	
}

.widget-calendar #calendarWrapper td.today .inside
{
	border: 1px dashed #333;
}

.widget-calendar .navigation a 
{
  text-decoration: none !important;
}

.widget-calendar ul.navigation li a
{
  line-height: 16px;
  padding: 0 5px;
  background: #fefefe;
  font-size: 0.9em;
  display: inline-block;
}

.widget-calendar ul.navigation li a:hover
{
  background: none;
}

.widget-calendar .current 
{
  margin-left: 3px;
}

.widget-calendar .counter
{
  margin: 6px 0 0 3px;
}

.widget-calendar .counter  span.value 
{
  display: inline-block;
  background: #fefefe;
  padding: 0 15px;
}

.widget-calendar select.current {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 1.2em;
    color: inherit;
    width: 100%;
    font-weight: bold;
    border: 0px;
    padding: 0.5em 1em;
    box-shadow: 0;
    background-image: url(angle-down.png);
    background-position: 92%;
    background-repeat: no-repeat;
}

.widget-calendar .loadingContainer
{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	z-index: 100; /* just to be sure */
	display: none;
	background: white url(../assets/loadingAnimation.gif) no-repeat center center;

	border-radius: 2px;
	box-shadow: 0 0 10px #666;
}

ul#reservationList {
	list-style: none;
	margin:0;
	padding: 0;
}
ul#reservationList li {
    line-height: 2.0em;
    padding: 0 0.5em 0 2.2em;
    margin: 0 0 0.5em;
    border: 1px solid #dddddd;
    position: relative;
    display: inline-block;
}
ul#reservationList li span.datum {
    width: 7.5em;
    display: inline-block;
}
ul#reservationList li input[type=checkbox],
ul#reservationList li input[type=radio]{
    /*vertical-align: middle;*/
	position: absolute;
	clip: rect(0,0,0,0);
}
ul#reservationList li input[type=checkbox] + label,
ul#reservationList li input[type=radio] + label{
    display: inline;
	background-color: inherit;
	padding:0.5em;
	margin:0;
}
ul#reservationList li input[type=checkbox]:checked + label,
ul#reservationList li input[type=radio]:checked + label{
	background-color: #FFB300;
}
ul#reservationList li button{
    position: absolute;
    left: 0;
    color: #60584d;
    background-color: #eee9e7;
    box-shadow: none;
    cursor: pointer;
    border-style: none;
    font-size: 120%;
    line-height: 1.6em;
}